nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  background-color: #e1aaaa;
}

.title {
  padding: 1% 2%;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
