.App {
  background-color: #feebeb;
  color: black;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.container {
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightBtn {
  background-color: #feebeb !important;
}

.darkBtn {
  background-color: #e1aaaa !important;
}

button {
  padding: 0.5% 1% !important;
  margin: 1% !important;
  text-align: center !important;
  font-size: 1rem !important;
  text-transform: uppercase !important;
  color: black !important;
}

input {
  margin: 0.5%;
  background-color: #fff;
  border-radius: 4px;
  padding: 3% 2%;
}

.textfield {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  margin: 1%;
}